# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [23]:
import numpy as np
import pandas as pd
import re
import random

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [4]:
# Your code here:
lista1 = [1,2,3,4,5,6]

def count_list(list):
    return print(len(list))

count_list(lista1)

6

Create a function that returns the mean of a list of numbers

In [6]:
# Your code here:
def mean_list(list):
    return print(sum(list)/len(list))

mean_list(lista1)

3.5

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [8]:
# Your code here:
def std_list(list):
    return print(np.std(list))
std_list(lista1)

1.707825127659933

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [10]:
# Your code here:
def calc_list(list):
    """
    This function prints the count, mean and standard deviation of a list.
    
    Input: List
    Output: List
    
    Sample input: List_Example = [1,2,3,4,5,6]
    Sample output: 6 3.5 1.707825127659933
    
    """
    print(len(list))
    print(sum(list)/len(list))
    print(np.std(list))

calc_list(lista1)

6
3.5
1.707825127659933

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [68]:
# Your code here:
b = '@#%$%& Aaaass#@#sdekoepw m@ri@m@ri@m@ri@m@ri@m@ri@m@ri@m@ri@m@ri@'
def cleaner_string(string):
    a = string.lower()
    c = re.sub('\W+','', a)
    d = sorted(c)
    e = ''.join(d)
    return e
cleaner_string(b)

'aaaadeeiiiiiiiikmmmmmmmmoprrrrrrrrsssw'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [86]:
# Your code here:

def quality_att(rate, goodatt = 0, regatt = 0, badatt = 0):
    for rate in rate:
        if (rate >= 4):
            print('Atendimento bom.')
        elif (rate == 3):
            print('Atendimento regular.')
        else:
            print('Atendimento ruim, melhorar.')
    return
list_of_rate = [1,2,3,4,5]
quality_att(list_of_rate)

Atendimento ruim, melhorar.
Atendimento ruim, melhorar.
Atendimento regular.
Atendimento bom.
Atendimento bom.

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [14]:
# Your code here:


def age_call():
    age = int(input('Your Age: '))
    while (age <= 0) or (age >= 150):
        age = int(input('Input a real age: '))
        if (age >= 0) and age <= 150:
            print(f'Your Age: {age}')
            break
    
    return

   
Age = age_call()

Your Age: 150
Input a real age: 50
Your Age: 50

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [29]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def organize_alph(string):
    a = re.sub('\W+','', string)
    b = a.lower()
    c = sorted(b)
    d = ''.join(c)
    return d

print(organize_alph(buzz))

aaaaaaaabcddeeeeeegghhiiiiiillmnnnnopprrsttuw

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [37]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def organize_alph(string):
    a = re.sub('\W+','', string)
    b = a.lower()
    c = sorted(b)
    d = ''.join(c)
    print(d)

organize_alph(buzz)

aaaaaaaabcddeeeeeegghhiiiiiillmnnnnopprrsttuw

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [40]:
import pandas as pd

In [38]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [41]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [42]:
np.mean(iris_numeric)

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [43]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [65]:
def cm_to_in(x):

    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    y = x * 0.393701
    return y
cm_to_in(np.std(iris_numeric))

sepal_length    0.108821
sepal_width     0.114715
petal_length    0.040342
petal_width     0.029462
dtype: float64

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [54]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0     12.953993     8.889995      3.555998     0.508000
1     12.445993     7.619996      3.555998     0.508000
2     11.937994     8.127996      3.301998     0.508000
3     11.683994     7.873996      3.809998     0.508000
4     12.699993     9.143995      3.555998     0.508000
5     13.715993     9.905995      4.317998     1.015999
6     11.683994     8.635995      3.555998     0.762000
7     12.699993     8.635995      3.809998     0.508000
8     11.175994     7.365996      3.555998     0.508000
9     12.445993     7.873996      3.809998     0.254000

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [56]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    iris_constant = np.add(x, iris_numeric)
    return iris_constant
add_constant(error)

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [64]:
# Your code here:

iris_numeric.apply(np.max)

sepal_length    5.4
sepal_width     3.9
petal_length    1.7
petal_width     0.4
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [63]:
# Your code here:

total_lenght = iris_numeric.apply(np.sum, axis = 1)
total_width = iris_numeric.apply(np.sum, axis = 0)
print(total_lenght, total_width)

0    10.2
1     9.5
2     9.4
3     9.4
4    10.2
5    11.4
6     9.7
7    10.1
8     8.9
9     9.6
dtype: float64 sepal_length    48.6
sepal_width     33.1
petal_length    14.5
petal_width      2.2
dtype: float64