# Lab - Object Oriented Programming

In [1]:
import pandas as pd
import numpy as np

# Challenge 2

In order to understand the benefits of simple object-oriented programming, we have to build up our classes from the beginning.

You'll use the following dataframe generator to test some things. Try to understand what the following function does.

In [2]:
chars = ['a', 'b', 'c','d', 'e', 'f', ' ', 'á','é','ó']

def create_weird_dataframe(size=10):
    def create_weird_colnames(size=size):
        probs = [.2,.2,.15,.1,.1,.1,.05,.05,.025,.025]

        return [''.join(
            [(char.upper() if np.random.random() < 0.2 else char) 
                     for char in np.random.choice(chars,size=12, p=probs)]) for i in range(size)]
    
    data = np.random.random(size=(size,size))
    colnames = create_weird_colnames(size)
    return pd.DataFrame(data=data, columns=colnames)

Test the results of running that function below. Run it several times

In [3]:
df = create_weird_dataframe()
df.head()

,cbdóBcbdefeb,eddaaAac ecb,fefabcabdábá,fbffddbaebcÓ,dbEaccbaFEbC,ecfa febbaé,écedbcéfbcbB,EaeDbbaáabce,cfeCbéEbfáaa,bfbcadfbD ba
0,0.352372,0.534709,0.860366,0.719924,0.893305,0.492969,0.251366,0.960464,0.364398,0.908901
1,0.678804,0.407852,0.695128,0.414952,0.822755,0.144120,0.687777,0.937137,0.610042,0.024718
2,0.446764,0.518383,0.191608,0.994585,0.600898,0.519793,0.014198,0.952513,0.808989,0.937585
3,0.540582,0.167976,0.449926,0.479145,0.033067,0.216543,0.057732,0.938990,0.587260,0.437107
4,0.028508,0.675281,0.739379,0.400424,0.546367,0.955866,0.137205,0.378742,0.081893,0.636823

## Correcting the column names

We'll create a function that rename the weird column names. The idea is to, later, extend that idea to our own brand new dataframe class.

### let's start simple: get the column names of the dataframe.

Store it in a variable called `col_names`

In [29]:
col_names = list(df.columns.values)
col_names

['cbdóBcbdefeb',
 'eddaaAac ecb',
 'fefabcabdábá',
 'fbffddbaebcÓ',
 'dbEaccbaFEbC',
 'ecfa  febbaé',
 'écedbcéfbcbB',
 'EaeDbbaáabce',
 'cfeCbéEbfáaa',
 'bfbcadfbD ba']

### Let's iterate through this columns and transform them into lower-case column names

Create a list comprehension to do that if possible. Store it in a variable called `lower_colnames`

In [32]:
lower_colnames = [i.lower() for i in col_names]
lower_colnames

['cbdóbcbdefeb',
 'eddaaaac ecb',
 'fefabcabdábá',
 'fbffddbaebcó',
 'dbeaccbafebc',
 'ecfa  febbaé',
 'écedbcéfbcbb',
 'eaedbbaáabce',
 'cfecbéebfáaa',
 'bfbcadfbd ba']

### Let's remove the spaces of these column names!

Replace each column name space ` ` for an underline `_`. Again, try to use a list comprehension to do that. 
For this first task use `.replace(' ','')` method to do that.

In [34]:
lower_colnames = [i.replace(' ','_') for i in lower_colnames]
lower_colnames

['cbdóbcbdefeb',
 'eddaaaacecb',
 'fefabcabdábá',
 'fbffddbaebcó',
 'dbeaccbafebc',
 'ecfafebbaé',
 'écedbcéfbcbb',
 'eaedbbaáabce',
 'cfecbéebfáaa',
 'bfbcadfbdba']

### Create a function that groups the results obtained above and return the lower case underlined names as a list

Name the function `normalize_cols`. This function should receive a dataframe, get the column names of a it and return the treated list of column names.

In [41]:
def normalize_cols(df):
    col_names = list(df.columns.values)
    lower_colnames = [i.lower() for i in col_names]
    lower_colnames = [i.replace(' ','_') for i in lower_colnames]
    return lower_colnames

### Test your results

Use the following line of code to test your results. Run it several times to see some behaviors.

In [46]:
normalize_cols(create_weird_dataframe())

['_deacb_fddef',
 'bcccácbb_cfa',
 'eceefbfcaaáb',
 'acbeeacebbcé',
 '_becfaceéóee',
 'ebbcbabdaaca',
 'caecabedbabc',
 'bb_afbábófac',
 'dfafabcabcab',
 '_ácfccdaódea']

### hmmm, we've made a mistake!

We've commited several mistakes by doing this. Have observed any bugs associated with our results?

In order for us to see some problems in our results, we have to look for edge cases. 

For example: 

**Problem #1:** what if there are 2 or more following spaces? We want it to replace the spaces by several underlines or condense them into one?

**Problem #2:** what if there are spaces at the beginning? Should we substitute them by underline or drop them?

Let's correct each problem. Starting by problem 2.

## Correcting our function

Instead of substituting the spaces at first place, let's remove the trailing and leading spaces!

Recreate the `normalize_cols` with the solution to `Problem 2`.

*Hint: Copy and paste the last `normalize_cols` function to change it.*

In [58]:
import re
def normalize_cols(df):
    col_names = list(df.columns.values)
    lower_colnames = [i.lower() for i in col_names]
    lower_colnames = [i.replace(' ','_') for i in lower_colnames]
    lower_colnames = [i.replace('  ','__') for i in lower_colnames]
    lower_colnames = [i.replace('   ','___') for i in lower_colnames]
    return lower_colnames

### Test your results again.

At least, for now, you should not have any trailing nor leading underlines.

In [70]:
normalize_cols(create_weird_dataframe())

['óbacadd_e_cf',
 'fcaeeccaccb_',
 'eebbdacbcaab',
 'áebbaáfebbfá',
 'bóbbca_aaaéa',
 '_b_aáébcbcae',
 'aaáaffefbacd',
 'bcaácáabab_c',
 'aebbcócbaaba',
 'eadeffbb_cb_']

### Correcting problem 1

To correct problem 1, instead of using `.replace()` string method, we want to use a regular expression. Use the module `re` to substitute the pattern of `1 or more spaces` by 1 underline `_`.

Test your solution on the variable below:

In [77]:
import re 
text = 'these spaces      should all be one underline'
re.sub('  +', '_', text)

'these spaces_should all be one underline'

### Now correct your `normalize_cols` function

*Hint: Copy and paste the last `normalize_cols` function to change it.*

In [102]:
def normalize_cols(df):
    col_names = list(df.columns.values)
    lower_colnames = [i.lower() for i in col_names]
    lower_colnames = [re.sub(' +', '_', i) for i in lower_colnames]
    return lower_colnames

### Again, test your results.

Now, sometimes some column names should have smaller sizes (because you are removing consecutive spaces)

In [104]:
normalize_cols(create_weird_dataframe())

['fabcfá_cdbab',
 'dcabcdcabceé',
 'acáfbcbc_dca',
 '_babfdbbeaeb',
 'ácabbcbcac_d',
 'bbaaeacaaccd',
 'bédccccdc_fc',
 'ecfeaabbcfdd',
 'ecffbfádbacc',
 'eacábffa_afa']

## Last step: remove accents

The last step consists in removing accents from the strings.

Import the package `unidecode` to use its module also called `unidecode` to remove accents. Test on the word below.

In [110]:
import unidecode
text = 'aéóúaorowó'
unidecode.unidecode(text)

'aeouaorowo'

### Now remove the accents for each column name in your `normalized_cols` function.

*Hint: Copy and paste the last `normalize_cols` function to change it.*

In [113]:
def normalize_cols(df):
    col_names = list(df.columns.values)
    lower_colnames = [i.lower() for i in col_names]
    lower_colnames = [re.sub(' +', '_', i) for i in lower_colnames]
    lower_colnames = [unidecode.unidecode(item) for item in lower_colnames]
    return lower_colnames

### Test your results

In [114]:
normalize_cols(create_weird_dataframe())

['daadbe_ccbfc',
 'caecfb_fefbe',
 'cab_baaaffba',
 'daaaaeabbeef',
 'caa_ebdeeeaa',
 'afeaffaad_co',
 'a_efacbcadce',
 'bdbabcdeec_b',
 'ecaab_bbcaab',
 'cabfdbabddfe']

## Good job. 

Right now you have a function that receives a dataframe and returns its columns names with a good formatting.

# Creating our own dataframe.

In [115]:
from pandas import DataFrame

A dataframe is just a simple class. It contains its own attributes and methods. 

When you create a pd.DataFrame() you are just instantiating the DataFrame class as an object that you can store in a variable. From this point onwards, you have access to all DataFrame class attributes (`.columns` for example) and methods (`.isna()` for example). We've been using those since always!

If we wish, we could create our own class inheriting everything from a DataFrame class.

In [121]:
class myDataFrame(DataFrame):
    
    def normalize_cols(self):
        col_names = list(self.columns.values)
        lower_colnames = [i.lower() for i in col_names]
        lower_colnames = [re.sub(' +', '_', i) for i in lower_colnames]
        lower_colnames = [unidecode.unidecode(item) for item in lower_colnames]
        return lower_colnames

Instead of just creating myDataFrame, put your function inside your new inherited class, that is, transform `normalize_cols` into a method of your own DataFrame.

Remember you'll have to give self as the first argument of the `normalize_cols`. So you could replace everything you once called `dataframe` inside your `normalize_cols` by `self`. 

At the end, return the list of the correct names.

Test your results.

In [122]:
df = myDataFrame(create_weird_dataframe())
df.normalize_cols()

,EfdafbbDacdf,aA adbbAbCa,ábAbfaCedefa,ffbbbf aBA e,baeecbefabef,eabfÉdc aacá,dAFddbcdcáeF,eAabbaCadBac,abf ecaaacb,fbEFfceabcaa
0,0.302052,0.626001,0.145675,0.692239,0.160542,0.203504,0.902431,0.711008,0.595272,0.227205
1,0.795956,0.614956,0.129188,0.739881,0.558401,0.192782,0.720157,0.692358,0.219730,0.680027
2,0.481008,0.318357,0.307430,0.082300,0.918824,0.407379,0.806810,0.018792,0.235044,0.471815
3,0.674771,0.763784,0.231453,0.988509,0.344865,0.375010,0.822737,0.475793,0.683487,0.998743
4,0.074759,0.280961,0.383179,0.693349,0.563809,0.530866,0.061957,0.408694,0.714971,0.692149
5,0.829284,0.483112,0.929271,0.533942,0.921348,0.885003,0.757829,0.817496,0.538351,0.532566
6,0.550604,0.719962,0.710177,0.217082,0.311610,0.160030,0.035216,0.637158,0.206443,0.771673
7,0.691788,0.819841,0.836053,0.170306,0.815223,0.555747,0.418412,0.274203,0.295492,0.852877
8,0.671565,0.004812,0.549879,0.540376,0.731916,0.262274,0.335402,0.108107,0.086270,0.983205
9,0.184733,0.468095,0.082572,0.343074,0.918566,0.691098,0.121320,0.046035,0.851575,0.765151

## Understanding even more the `self` argument

Instead of returning a list containing the correct columns, you should now assign the correct columns to the `self.columns` - this will effectively replace the values of your object by the correct columns.


Now change your method to return the dataframe itself. That is, return the `self` argument this time and see the results! 

```python
class myDataFrame(DataFrame):
    def normalize_cos(self):
        ...
        return self
```

In [124]:
class myDataFrame(DataFrame):
    
    def normalize_cols(self):
        col_names = list(self.columns.values)
        lower_colnames = [i.lower() for i in col_names]
        lower_colnames = [re.sub(' +', '_', i) for i in lower_colnames]
        lower_colnames = [unidecode.unidecode(item) for item in lower_colnames]
        return self
    
df = myDataFrame(create_weird_dataframe())
df.normalize_cols()

,cabdéeacEaDb,CbeaceabaEáa,bccbebDáeeda,Ab BbcAdaafá,ébbfcácóabc,feAbábbfaaÁ,bbeabCcdfeÓB,fc beaóCbEaB,bBbábdaCábá,fácbAFeéadáB
0,0.540594,0.912558,0.641143,0.985325,0.837870,0.281859,0.122952,0.377492,0.450192,0.273973
1,0.667191,0.864862,0.210599,0.059061,0.114385,0.326878,0.023888,0.677387,0.894801,0.257852
2,0.188684,0.415977,0.484121,0.753330,0.126253,0.633712,0.548701,0.613388,0.859704,0.125465
3,0.465299,0.498655,0.497737,0.446303,0.299975,0.251816,0.898933,0.630943,0.283883,0.207160
4,0.464651,0.743598,0.353894,0.666701,0.914405,0.605910,0.240402,0.264864,0.282141,0.000720
5,0.151309,0.334789,0.024970,0.159882,0.584772,0.176824,0.798321,0.577609,0.008803,0.466657
6,0.321930,0.662258,0.407017,0.862924,0.658297,0.140510,0.873077,0.197344,0.808984,0.745283
7,0.616374,0.602010,0.260498,0.231822,0.458211,0.747355,0.875508,0.172981,0.672006,0.853809
8,0.222419,0.417597,0.239082,0.578018,0.671947,0.429654,0.031668,0.284585,0.147079,0.320881
9,0.139705,0.816283,0.694352,0.984184,0.987919,0.822219,0.685773,0.804333,0.740170,0.124276

## Understanding the self argument

Now, below the `for loop` you've created, let's create the attributes of the `Car` class. Remember the attributes you wrote down earlier? Let's put them as arguments of the `__init__(self,)` function.

Remember, the first argument of the `__init__(self,)` function should always be the `self` keyword. 

The `self` argument represents the object itself. That is a way for you to have access to the objects own attribute.

### First, let's start creating one single attribute of this car.

Let's say you have chosen `name` as a car attribute (what? can't a car have a name?). 

If you want your class to receive a specific car name as an argument, you have to put this variable as the argument of the `__init__` function. So, to add `name`, the results of your special function definition would be:

```python
def __init__(self, name):
    pass
```

Now, when you instantiate your Car class, the syntax would be similar to calling a function (which, by now, you should now that it is what you are effectively doing - you are calling the __init__ method), so what the syntax would be:

*Hint: If you don't specify an argument, the python interpreter will complain that your class requires one argument (try that - if you don't try it now, it is not a problem, you'll try in future, even when you don't want to).*

In [ ]:
# your code here

### Now let's store that new argument

By now, you are only receiving the name of the car as an argument, but you are not doing anything specifically with that variable called `name`.

Let's store that in the object. That's the first use of the `self` keyword.

To store the variable in a way that the user can access via a `car.SOMETHING`, you have to specify that the object itself is receiving the attribute `name` (for example)

Then, **create a variable called `name` that receives the argument `name`** (keep in mind that the name of the variable need not necessarily be the same, you could assing the argument `name` to an attribute called `chimpanze` for example).

Also **create the other 5 attributes that you previously had in mind**

In [ ]:
# your code here

### Access the attribute

You should now be able to access the object's attribute once you instantiate it as `my_car.name`

You can try to write `my_car.<TAB>` to check what attributes or methods your object contains.

## Understanding special methods

Special methods are the ones that start with double underlines (usually called `dunder`), for example the `__init__` method, the `__doc__` method or `__repr__` method (called as `dunder init`, `dunder doc`, `dunder repr`).

The `__repr__` method is responsible to show how your class will be displayed on screen when you display it.
Let's create a `__repr__(self)` function on our `Car` class that returns the following string below (copy the string below):

```python
    car = f'''
                  ______--------___
                 /|             / |
      o___________|_\__________/__|
     ]|___     |  |=   ||  =|___  |"
     //   \\    |  |____||_///   \\|"
    |  X  |\--------------/|  X  |\"
     \___/                  \___/
    '''
```

Your class should now have two special methods, `__init__` and `__repr__`

In [ ]:
class Car:
    
    def __init__(self, car_name):
        self.car_name = car_name
    
    def __repr__(self):
        
        car = f'''
                      ______--------___
                     /|             / |
          o___________|_\__________/__|
         ]|___     |  |=   ||  =|___  |"
         //   \\    |  |____||_///   \\|"
        |  X  |\--------------/|  X  |\"
         \___/                  \___/
        '''
        
        return car

### Now instantiate your Car class again

In [ ]:
my_car = Car('Jeguinho')

### And check what happens when you print your object on screen

In [ ]:
print(my_car)

### Now create a simple method to receive and return the `self` variable

Create a simple method inside your `class Car` and return `self` the self argument. Name this method `get_itself`.

In [ ]:
class Car:
    
    def __init__(self, car_name):
        self.car_name = car_name
    
    def __repr__(self):
        
        car = f'''
                      ______--------___
                     /|             / |
          o___________|_\__________/__|
         ]|___     |  |=   ||  =|___  |"
         //   \\    |  |____||_///   \\|"
        |  X  |\--------------/|  X  |\"
         \___/                  \___/
        '''
        
        return car
    
    def get_itself(self):
        return self

#### Now instantiate the Car class and call `get_itself()`

In [ ]:
my_car = Car('andre')

In [ ]:
my_car.get_itself()

This happens because you are print this specific object.